{% extends 'base.html.twig' %}

{% block body %}
{{ title }}
<div class="main-container">
{# {{ cabins }} #}

    <ul>
        {% for cabin in cabins %}
            {% if cabin.active == 1 %}
            <div class="cabin-details">
                <div class="cabin-container">
                    <div class="cabin-image">
                        <img type="image/png" src={% if cabin.miniature == '' %}"/images/default_cabin.jpg"{% else %}"/images/{{ cabin.miniature }}"{% endif %}>
                    </div>
                    <li>
                        <h3>{{ cabin.name|upper }}</h3>
                        <p>{{ cabin.description}}<p>
                        <p>Price per night: {{ cabin.customprice }} PLN<p>
                        
                    </li>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock %}