{% extends 'base.html.twig' %}

{% block body %}
<div class="main-container">
    <div class="welcome">
        <h1>Book a stay at {{ cabin.name }}</h1>
    </div>
            <div class="cabin-details">
                <div class="cabin-container">
                    <div class="cabin-image">
                        <img type="image/png" src={% if cabin.miniature == '' %}"/images/default_cabin.jpg"{% else %}"/images/{{ cabin.miniature }}"{% endif %}>
                    </div>
                    <ul>
                        <li>
                            <h3>{{ cabin.name|upper }}</h3>
                            <p>{{ cabin.description}}<p>
                            <p>Price per night: {{ cabin.customprice }} PLN<p>
                            
                        </li>
                    </ul>
                            {% include 'map.html.twig' %}
                </div>
            </div>
</div>
{% endblock %}